.userPosition{
    display: flex;
    align-items: center;
    margin-right: 85px;
}

.userAvatar{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;

    margin-right: 7px;
}
.nameUser {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    
    color: #CC6633;
}

.indentSpan{
    padding-left: 6px;

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */


    color: #999999;
}
