@import url('https://fonts.google.com/share?selection.family=Roboto');

:root {
    --black: #333;
    --white: #fff;
    --orange: #cc6633;
    --green: #a4cc33;
    --greyf4: #f4f4f4;
    --greyf3: #f3f3f3;
    --greyd9: #d9d9d9;
    --greyc4: #c4c4c4;
    --grey99: #999;
    --grey: #666;
}

body {
    background-color: #f4f4f4;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Roboto', serif;
}

*{
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}